<div class="row mt-15">
  <div class="col-md-14">
    <h3>Create a Post:</h3>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="project-name">title:</label>
        <input class="form-input" type="text" id="project-name" name="project-name" />
      </div>
      <div class="form-group">
        <label for="project-desc">description:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" onclick="document.location.replace(/edit)">Create</button>
      </div>
    </form>
  </div>

<script src="./js/post.js"></script>
